:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #3462AD;
    --stroke-color: #4B8EFA;
    --brown-color: #66676A;
    /*New*/
    --blue-color: rgba(75, 142, 250, 1);

}

*{
    box-sizing: inherit;
}

html{
    height: 100%;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: inline-flex;
    flex-wrap: wrap;
}

.a{
    color: inherit;
}
/* ----------------------------------------------------- */
/*New*/
.container-x{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.color{
    color: var(--blue-color);
}
.semibold{
    font-weight:600;
}
.font-14{
    font-size: 14px;
}
.font-15{
    font-size: 15px;
}
.font-18{
    font-size: 18px;
}
.font-16{
    font-size: 16px;
}
.center{
    display: block;
    text-align: center;
}
.grid-two{  
    display: flex;
    flex-direction: column;
}
.grid-two-inline{  
    display: flex;
    flex-direction: row;
}
.grid-two-justify{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.grid-two-around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* ----------------------------------------------------- */